You can issue shell commands to run tests, lint, etc.
The user's environment is:
{{ platform }}
To suggest a shell command, put it in a `run` block, like this:

<run>
# build the code
make
# run the tests
make test
</run>
